*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.calc{
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 15px;
  border: none;
  box-shadow:  5px 5px 15px  rgb(161, 170, 174),-5px -5px 15px  rgb(161, 170, 174);
              
}
#input{
  width: 100%;
  max-width: 400px;
  border-radius: 20xp ;
  height:50px ;
  border: none;
  background: transparent;
  text-align: center;
  cursor: pointer;
}
button{
  border: none;
  margin: 10px;
  width: 80px;
  padding: 10px;
  border-radius: 25px;
  box-shadow:  5px 5px 15px  rgb(161, 170, 174);
  font-size: 20px;
  text-align: center;
}
button:hover{
  transform: scale(1.2);
}
